body {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}

p {
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.first {
  font-size: 26px;
  color: white;
  background: #ec6c53;
}

.second {
  font-size: 24px;
  color: white;
  background: #ffc965;
}

.third {
  font-size: 22px;
  color: white;
  background: #7db7af;
}


